main{
    padding-top:192px;
    padding-bottom:192px
}
body{
    margin:0;
    padding:0;
    width:100%;
    font-family:Roboto-Regular,SansSerif;
    font-size:14px;
    overflow-x:hidden
}
body>header{
  position:fixed;
  height:192px;
  top:0;
  left:0;
  right:0;
  max-width:100vw;
  width:100%;
  z-index:100;
  background:url('/img/ethdenver-header.webp');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: rgba(255,255,255,0.75)
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-bottom:30px;
}
body>header .wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    height:100%
}
body>header .wrap .logo{
    font-family:Roboto-Regular,SansSerif;
    font-size:24px;
    color:#48505D;
    padding-bottom:4px;
    text-decoration:none;
    position:relative;
    left:-55px;
    transition:all .6s
}
body>header .wrap .logo img{
    display:inline;
    opacity:0;
    position:relative;
    top:22px;
    width:50px;
    height:60px;
    transition:all .6s
}
body>header .wrap .logo b{
    font-family:NexaBold,SansSerif
}
body>header .wrap .logo.show,body>header .wrap .logo.static{
    left:0
}
body>header .wrap .logo.show img,body>header .wrap .logo.static img{
    opacity:1
}
body>header .wrap .fa-bars,body>header .wrap .fa-times{
    font-size:28px;
    color:#48505D
}
body>header .wrap .bars,body>header .wrap .close{
    display:none;
    position:relative;
    top:-12px
}
body>header .wrap .close{
    -webkit-box-ordinal-group:7;
    -ms-flex-order:6;
    order:6
}
body>header .wrap nav{
    position:relative;
    max-width:350px;
    width:100%;
    padding-bottom:5px
}
@media (max-width:940px){
    body>header .wrap nav{
        max-width:350px
    }
}
body>header .wrap nav ul{
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:0;
    margin:0
}
body>header .wrap nav ul li{
    display:inline;
    list-style:none
}
body>header .wrap nav ul li a{
    text-decoration:none;
    font-size:18px;
    line-height:24px;
    color:#48505d;
    vertical-align:text-bottom
}
body>header .wrap nav ul li a i{
  text-decoration:none;
  font-size:14px;
  line-height:24px;
  color:#48505d;
  vertical-align:text-bottom;
  margin-left:8px;
  margin-right:8px;
}
body>header .wrap nav ul li:nth-child(1) a:hover,body>header .wrap nav ul li:nth-child(7) a:hover{
  color:#A8539E
}
body>header .wrap nav ul li:nth-child(2) a:hover,body>header .wrap nav ul li:nth-child(8) a:hover{
  color:#EF65A4
}
body>header .wrap nav ul li:nth-child(3) a:hover,body>header .wrap nav ul li:nth-child(9) a:hover{
  color:#F9C234
}
body>header .wrap nav ul li:nth-child(10) a:hover,body>header .wrap nav ul li:nth-child(4) a:hover{
  color:#CDDD40
}
body>header .wrap nav ul li:nth-child(5) a:hover{
  color:#65bca6
}
body>header .wrap nav ul li:nth-child(6) a:hover{
  color:#24a8e6
}
@media (max-width:940px){
  main{
      padding-top:64px;
      padding-bottom:64px
  }
  body>header{
    position:fixed;
    height:116px;
    top:0;
    left:0;
    right:0;
    max-width:100vw;
    width:100%;
    z-index:100;
    background:url('/img/ethdenver-header-small.webp');
    background-position:top;
    background-repeat:no-repeat;
    background-size:auto 64px;
    /*background-size:cover;*/
    background-color: rgba(255,255,255,0.75)
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-bottom:30px;
  }
  body>header .wrap .logo{
      left:0;
      top:0px;
      font-size:19px
  }
  body>header .wrap .logo img{
      opacity:1;
      height:50px;
      width:auto;
      top:18px
  }
  body>header .wrap .fa-bars,body>header .wrap .fa-times{
      font-size:28px;
      color:#48505D
  }
  body>header .wrap .bars,body>header .wrap .close{
      display:none;
      /*position:relative;*/
      top:0px
  }
  body>header .wrap nav{
    display:none;
    position:absolute;
    top:0px;
    left:0;
    max-width:none;
    width:100%;
    padding-top:64px;
    padding-bottom:42px;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  body>header .wrap nav ul{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -webkit-box-align:center;
      -ms-flex-align:center;
      align-items:center;
      padding:0;
      margin:0
  }
  body>header .wrap nav ul li{
      margin-top:42px
  }
  body>header .wrap nav ul li a{
      text-transform:uppercase;
      font-family:Roboto-Bold;
      color:#48505D;
      letter-spacing:1px;
      padding-left:18px
  }
}

body>footer{
  position:fixed;
  height:192px;
  left:0;
  bottom:0;
  max-width:100vw;
  width:100%;
  z-index:100;
  background:url('/img/ethdenver-footer.webp');
  background-position:right;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: rgba(255,255,255,0.75)
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-top:30px;
  padding-bottom:75px;
}
body>footer .wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:relative;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:end;
  -ms-flex-align:end;
  align-items:flex-end;
  height:100%
}
body>footer nav {
  margin-bottom:0px;
}
body>footer .footer-title {
  float:right;
}
body>footer .footer-title .libp2p-day {
  font-family:Roboto-Light,SansSerif;
  font-size:28px;
  margin-bottom:0px;
}
body>footer .footer-title .ethdenver {
  font-family:Roboto-Light,SansSerif;
  font-size:18px;
  margin-top:0px;
  margin-bottom:0px;
}
body>footer .footer-title .year {
  font-family:Roboto-Light,SansSerif;
  font-size:18px;
  margin-top:0px;
  margin-bottom:0px;
}
@media (max-width:940px){
  footer{
    padding:0px
  }
  body>footer{
    position:fixed;
    height:64px;
    left:0;
    bottom:0;
    max-width:100vw;
    width:100%;
    z-index:100;
    background:url('/img/ethdenver-footer-small.webp');
    background-position:right;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: rgba(255,255,255,0.75)
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-bottom:30px;
  }
  body>footer .footer-links{
    display:none;
  }
  body>footer .footer-title .libp2p-day {
    display:none;
  }
  body>footer .footer-title .ethdenver {
    display:none;
  }
  body>footer .footer-title .year {
    display:none;
  }
}
