article{
  position:relative
}
article>*{
  opacity:0
}
article.show>*{
  opacity:1;
  transition:opacity 1s
}

article.a-modular-network-stack>*{
  opacity:1
}
article.a-modular-network-stack{
  width:100%;
  padding-bottom:58px;
  padding-top:0
}
article.a-modular-network-stack .homepage-animation{
  width:100%;
  max-height:475px;
  min-height:231px;
  height:475px;
  display:block;
  position:relative;
  overflow:hidden;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.a-modular-network-stack .homepage-animation.static{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
article.a-modular-network-stack .homepage-animation #static-stage{
  display:none;
  width:220px;
  height:260px
}
article.a-modular-network-stack .homepage-animation #static-stage.show{
  display:block;
  margin-top:95px;
  margin-left:5px
}
@media (max-width:767px){
  article.a-modular-network-stack .homepage-animation #static-stage{
    width:115px;
    height:135px
  }
  article.a-modular-network-stack .homepage-animation #static-stage.show{
    margin-top:20px
  }
}
article.a-modular-network-stack .wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:60px
}
article.a-modular-network-stack .wrap h2{
  opacity:0;
  font-family:Roboto-Bold,SansSerif;
  font-size:65px;
  line-height:67px;
  letter-spacing:-.3px;
  margin:0;
  text-align:center;
  transition:opacity 1.5s
}
article.a-modular-network-stack .wrap h2 span:nth-child(1){
  color:#A8539E
}
article.a-modular-network-stack .wrap h2 span:nth-child(2){
  color:#EF65A4
}
article.a-modular-network-stack .wrap h2 span:nth-child(3){
  color:#F9C234
}
article.a-modular-network-stack .wrap h2 span:nth-child(4){
  color:#CDDD40
}
article.a-modular-network-stack .wrap h2 span:nth-child(5){
  color:#65bca6
}
article.a-modular-network-stack .wrap h2 span:nth-child(4){
  color:#24a8e6
}
article.a-modular-network-stack .wrap p {
  font-family:Roboto-Light,SansSerif;
  font-size:28px;
  color:#48505d;
  text-align:justify;
  margin-top:25px;
  line-height:40px;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.a-modular-network-stack .wrap iframe {
  margin-top:100px;
}
article.a-modular-network-stack .wrap p b {
  font-family:Roboto-Bold,SansSerif;
}
article.a-modular-network-stack .wrap p.show{
  opacity:1;
  top:0
}
article.a-modular-network-stack .wrap .buttons{
  z-index:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:space-between;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.a-modular-network-stack .wrap .buttons.show{
  opacity:1;
  top:0
}
article.a-modular-network-stack .wrap .buttons a{
  margin-top:29px;
  margin-bottom:29px
}
article.a-modular-network-stack .wrap .buttons label{
  margin-top:29px;
  margin-bottom:0px;
}
article.a-modular-network-stack .wrap .buttons .dropdown-content a{
  margin-top:8px;
  margin-bottom:8px;
}
@media (max-width:767px){
  article.a-modular-network-stack .wrap .buttons{
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}
@media (max-width:767px){
  article.a-modular-network-stack .homepage-animation{
    height:231px
  }
  article.a-modular-network-stack .wrap{
    margin-bottom:150px
  }
  article.a-modular-network-stack .wrap h2{
    font-size:37px;
    line-height:42px
  }
  article.a-modular-network-stack .wrap p{
    font-size:20px;
    line-height:28px;
    margin-top:21px
  }
  article.a-modular-network-stack .wrap .buttons button{
    margin-top:20px
  }
}

article.features{
  background:#f3f6f9;
  padding-bottom:180px
}
@media (max-width:767px){
  article.features{
      padding-bottom:88px
  }
}
article.features .wrap{
  margin-top:55px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%
}
article.features .wrap .card{
  margin-bottom:10px;
  width:310px;
  height:270px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.features .wrap .rectangle{
  margin:auto;
  width:300px;
  height:260px;
  background:#fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding-top:9px;
  border:1px solid #DFE5EE;
  border-radius:3px;
  box-shadow:0 0 10px 1px #DFE5EE;
  text-decoration:none;
  overflow:hidden
}
article.features .wrap .rectangle div{
  font-family:Roboto-Light,SansSerif;
  color:#48505D;
  font-size:30px;
  text-align:center;
  line-height:35px;
  margin-top:10px;
  width:245px;
  height:70px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.features .wrap .rectangle img{
  transition:all .3s
}
article.features .wrap .rectangle p{
  opacity:0;
  height:0;
  margin:0;
  text-align:center;
  font-size:17px;
  color:#A8ACB2;
  width:260px;
  letter-spacing:-.6px;
  line-height:26px;
  transition:all .3s
}
article.features .wrap .rectangle:hover{
  width:310px;
  height:270px;
  padding-top:16px
}
article.features .wrap .rectangle:hover img{
  opacity:0;
  width:0;
  height:0
}
article.features .wrap .rectangle:hover p{
  opacity:1;
  height:auto;
  margin:2px 0 17px 0
}
@media (max-width:767px){
  article.features .wrap .rectangle{
    width:160px;
    height:140px
  }
  article.features .wrap .rectangle:hover{
    width:165px;
    height:145px
  }
  article.features .wrap .rectangle img{
    width:92px;
    height:auto
  }
  article.features .wrap .rectangle div{
    width:150px;
    height:40px;
    font-size:16px;
    line-height:18px
  }
  article.features .wrap .rectangle p{
    font-size:8px;
    width:150px;
    line-height:16px
  }
}
@media (max-width:1200px){
  article.features .wrap{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }
}
@media (max-width:767px){
  article.features .wrap{
    margin-top:40px
  }
  article.features .wrap .card{
    width:165px;
    height:145px
  }
  article.features .wrap .rectangle{
    margin-bottom:10px
  }
}

article.security{
  padding-bottom:180px
}
@media (max-width:767px){
  article.security{
      padding-bottom:88px
  }
}
article.security .wrap{
  /*margin-top:55px;*/
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%
}
article.security .wrap p{
  font-family:Roboto-Light,SansSerif;
  font-size:28px;
  color:#48505d;
  text-align:justify;
  margin-top:25px;
  line-height:40px;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.security .wrap p b{
  font-family:Roboto-Bold,SansSerif;
}
article.security .wrap p.show{
  opacity:1;
  top:0
}
article.security .wrap p a{
  color:#48505d;
}
article.security .wrap p a:hover{
  color:#ef65a4
}
@media (max-width:1200px){
  article.security .wrap{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }
}
@media (max-width:767px){
  article.security .wrap{
    margin-top:40px
  }
}

article.a-modular-network-stack .img1{
  position:absolute;
  top:1000px;
  right:75px
}
article.a-modular-network-stack .img2{
  position:absolute;
  bottom:241px;
  left:134px
}
article.features .img3{
  position:absolute;
  top:160px;
  right:125px
}
article.features .img4{
  position:absolute;
  bottom:341px;
  left:54px
}
article.security .img5{
  position:absolute;
  top:300px;
  right:125px
}
article.security .img6{
  position:absolute;
  bottom:341px;
  left:54px
}
