article{
  position:relative
}
article>*{
  opacity:0
}
article.show>*{
  opacity:1;
  transition:opacity 1s
}


article.ethdenver>*{
  opacity:1
}
article.ethdenver{
  width:100%;
  margin-top:58px;
  padding-bottom:0px;
  padding-top:0
}
article.ethdenver #ethdenver-stage{
  height:475px
}
article.ethdenver .wrap {
  padding-bottom:30px;
}
article.ethdenver .homepage-animation{
  width:100%;
  max-height:475px;
  min-height:231px;
  height:475px;
  display:block;
  position:relative;
  overflow:hidden;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.ethdenver .homepage-animation.static{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
article.ethdenver .homepage-animation #static-stage{
  display:none;
  width:220px;
  height:260px
}
article.ethdenver .homepage-animation #static-stage.show{
  display:block;
  margin-top:95px;
  margin-left:5px
}
@media (max-width:767px){
  article.ethdenver .homepage-animation #static-stage{
    width:115px;
    height:135px
  }
  article.ethdenver .homepage-animation #static-stage.show{
    margin-top:20px
  }
}
article.ethdenver .wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:60px
}
article.ethdenver .wrap h2{
  opacity:0;
  font-family:Roboto-Bold,SansSerif;
  font-size:72px;
  line-height:74px;
  letter-spacing:-.3px;
  text-align:justify;
  margin:0;
  text-align:center;
  transition:opacity 1.5s
}
article.ethdenver .wrap h2 span:nth-child(1){
  color:#A8539E
}
article.ethdenver .wrap h2 span:nth-child(2){
  color:#EF65A4
}
article.ethdenver .wrap h2 span:nth-child(3){
  color:#F9C234
}
article.ethdenver .wrap h2 span:nth-child(4){
  color:#CDDD40
}
article.ethdenver .wrap h2 span:nth-child(5){
  color:#65bca6
}
article.ethdenver .wrap h2 span:nth-child(4){
  color:#24a8e6
}
article.ethdenver .wrap p {
  font-family:Roboto-Light,SansSerif;
  font-size:28px;
  color:#48505d;
  text-align:justify;
  margin-top:25px;
  line-height:40px;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.ethdenver .wrap iframe {
  margin-top:100px;
}
article.ethdenver .wrap p b {
  font-family:Roboto-Bold,SansSerif;
}
article.ethdenver .wrap p.show{
  opacity:1;
  top:0
}
article.ethdenver .wrap .buttons{
  z-index:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:space-between;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.ethdenver .wrap .buttons.show{
  opacity:1;
  top:0
}
article.ethdenver .wrap .buttons a{
  margin-top:29px;
  margin-bottom:29px
}
article.ethdenver .wrap .buttons label{
  margin-top:29px;
  margin-bottom:0px;
}
article.ethdenver .wrap .buttons .dropdown-content a{
  margin-top:8px;
  margin-bottom:8px;
}
@media (max-width:767px){
  article.ethdenver .wrap .buttons{
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}
@media (max-width:940px){
  article.ethdenver .homepage-animation{
    height:231px
  }
  article.ethdenver #ethdenver-stage{
    height:400px
  }
  article.ethdenver .wrap{
    padding-bottom:30px;
    /*margin-bottom:150px*/
  }
  article.ethdenver .wrap h2{
    font-size:48px;
    line-height:60px
  }
  article.ethdenver .wrap p{
    font-size:24px;
    line-height:38px;
    margin-top:21px
  }
  article.ethdenver .wrap .buttons button{
    margin-top:20px
  }
}
@media (max-width:767px){
  article.ethdenver .homepage-animation{
    height:231px
  }
  article.ethdenver #ethdenver-stage{
    height:450px
  }
  article.ethdenver .wrap{
    padding-bottom:30px;
    /*margin-bottom:150px*/
  }
  article.ethdenver .wrap h2{
    font-size:37px;
    line-height:42px
  }
  article.ethdenver .wrap p{
    font-size:16px;
    line-height:28px;
    margin-top:21px
  }
  article.ethdenver .wrap .buttons button{
    margin-top:20px
  }
}
article.a-modular-network-stack>*{
  opacity:1
}
article.show>*{
  opacity:1;
  transition:opacity 1s
}
article.a-modular-network-stack{
  width:100%;
  padding-bottom:58px;
  padding-top:0
}
article.a-modular-network-stack .homepage-animation{
  width:100%;
  max-height:475px;
  min-height:231px;
  height:475px;
  display:block;
  position:relative;
  overflow:hidden;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.a-modular-network-stack .homepage-animation.static{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
article.a-modular-network-stack .homepage-animation #static-stage{
  display:none;
  width:220px;
  height:260px
}
article.a-modular-network-stack .homepage-animation #static-stage.show{
  display:block;
  margin-top:95px;
  margin-left:5px
}
@media (max-width:767px){
  article.a-modular-network-stack .homepage-animation #static-stage{
    width:115px;
    height:135px
  }
  article.a-modular-network-stack .homepage-animation #static-stage.show{
    margin-top:20px
  }
}
article.a-modular-network-stack .wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:60px
}
article.a-modular-network-stack .wrap h2{
  opacity:0;
  font-family:Roboto-Bold,SansSerif;
  font-size:65px;
  line-height:67px;
  letter-spacing:-.3px;
  margin:0;
  text-align:center;
  transition:opacity 1.5s
}
article.a-modular-network-stack .wrap h2 span:nth-child(1){
  color:#A8539E
}
article.a-modular-network-stack .wrap h2 span:nth-child(2){
  color:#EF65A4
}
article.a-modular-network-stack .wrap h2 span:nth-child(3){
  color:#F9C234
}
article.a-modular-network-stack .wrap h2 span:nth-child(4){
  color:#CDDD40
}
article.a-modular-network-stack .wrap h2 span:nth-child(5){
  color:#65bca6
}
article.a-modular-network-stack .wrap h2 span:nth-child(4){
  color:#24a8e6
}
article.a-modular-network-stack .wrap p {
  font-family:Roboto-Light,SansSerif;
  font-size:28px;
  color:#48505d;
  text-align:justify;
  margin-top:25px;
  line-height:40px;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.a-modular-network-stack .wrap iframe {
  margin-top:100px;
}
article.a-modular-network-stack .wrap p b {
  font-family:Roboto-Bold,SansSerif;
}
article.a-modular-network-stack .wrap p.show{
  opacity:1;
  top:0
}
article.a-modular-network-stack .wrap .buttons{
  z-index:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:space-between;
  opacity:0;
  position:relative;
  top:30px;
  transition:all 1s
}
article.a-modular-network-stack .wrap .buttons.show{
  opacity:1;
  top:0
}
article.a-modular-network-stack .wrap .buttons a{
  margin-top:29px;
  margin-bottom:29px
}
article.a-modular-network-stack .wrap .buttons label{
  margin-top:29px;
  margin-bottom:0px;
}
article.a-modular-network-stack .wrap .buttons .dropdown-content a{
  margin-top:8px;
  margin-bottom:8px;
}
@media (max-width:767px){
  article.a-modular-network-stack .wrap .buttons{
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}
@media (max-width:767px){
  article.a-modular-network-stack .homepage-animation{
    height:231px
  }
  article.a-modular-network-stack .wrap{
    margin-bottom:150px
  }
  article.a-modular-network-stack .wrap h2{
    font-size:37px;
    line-height:42px
  }
  article.a-modular-network-stack .wrap p{
    font-size:20px;
    line-height:28px;
    margin-top:21px
  }
  article.a-modular-network-stack .wrap .buttons button{
    margin-top:20px
  }
}

article.schedule>*{
  opacity:1
}
article.schedule{
  background:#f3f6f9;
  padding-bottom:100px
}
@media (max-width:767px){
  article.schedule{
      padding-bottom:88px
  }
}
article.schedule .wrap{
  margin-top:55px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%
}
article.schedule h2 {
  text-align:center;
  font-family:Roboto-Black;
  color:#48505d;
  margin:0;
  font-size:65px;
}
article.schedule .row{
  display:flex;
  width:100%;
  margin-bottom: 20px;
}
article.schedule .column{
  float:left
}
article.schedule .left{
  width:30%
}
article.schedule .right{
  width:70%
}
article.schedule .wrap .card{
  margin-bottom:10px;
  width:310px;
  height:270px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.schedule .wrap .rectangle-left{
  margin:0px;
  width:98%;
  height:150px;
  background:#fff;
  padding:.75rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:left;
  -ms-flex-align:left;
  align-items:left;
  padding-top:9px;
  border:1px solid #DFE5EE;
  border-radius:3px;
  box-shadow:0 0 10px 1px #DFE5EE;
  text-decoration:none;
  overflow:hidden
}
article.schedule .wrap .rectangle-right{
  float:right;
  margin:0px;
  width:98%;
  height:150px;
  background:#fff;
  padding:.75rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:left;
  -ms-flex-align:left;
  align-items:left;
  padding-top:9px;
  border:1px solid #DFE5EE;
  border-radius:3px;
  box-shadow:0 0 10px 1px #DFE5EE;
  text-decoration:none;
  overflow:hidden
}
article.schedule .wrap .rectangle-right ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
}
article.schedule .wrap .rectangle-right li{
  height:100%;
}
article.schedule .wrap .rectangle-right img{
  width:130px;
  height:130px;
  float:left;
  border:1px solid #e3e6e9;
  margin-right:12px;
}
article.schedule .wrap .rectangle-left h2{
  font-family:Roboto-Light,SansSerif;
  text-align:left;
  font-size:24px;
  line-height: 32px;
  color:#48505d;
  width:260px;
  margin-top:0px;
  margin-bottom:8px;
}
article.schedule .wrap .rectangle-left p{
  font-family:Roboto-Light,SansSerif;
  text-align:left;
  font-size:18px;
  line-height:24px;
  color:#48505d;
  width:260px;
  margin-top:0px;
  margin-bottom:4px;
}
article.schedule .wrap .rectangle-right h2{
  font-family:Roboto-Light,SansSerif;
  text-align:left;
  font-size:20px;
  color:#48505d;
  width:260px;
  line-height:26px;
  margin-top:0px;
  margin-bottom:4px;
}
article.schedule .wrap .rectangle-right p{
  font-family:Roboto-Light,SansSerif;
  text-align:left;
  font-size:17px;
  color:#48505d;
  width:260px;
  line-height:26px;
  margin-top:0px;
  margin-bottom:4px;
}
@media (max-width:940px){
  article.schedule{
    padding-top:56px;
  }
  article.schedule .homepage-animation{
    height:231px
  }
  article.schedule #schedule-stage{
    height:400px
  }
  article.schedule h2 {
    text-align:center;
    font-family:Roboto-Black;
    color:#48505d;
    margin:0;
    font-size:48px;
  }
  article.schedule .wrap{
    padding-bottom:30px;
    /*margin-bottom:150px*/
  }
  article.schedule .wrap h2{
    font-size:48px;
    line-height:60px
  }
  article.schedule .wrap p{
    font-size:24px;
    line-height:38px;
    margin-top:21px
  }
  article.schedule .wrap .buttons button{
    margin-top:20px
  }
}
@media (max-width:767px){
  article.schedule .homepage-animation{
    height:231px
  }
  article.schedule #schedule-stage{
    height:400px
  }
  article.schedule .wrap{
    padding-bottom:30px;
    /*margin-bottom:150px*/
  }
  article.schedule .wrap h2{
    font-size:37px;
    line-height:42px
  }
  article.schedule .wrap p{
    font-size:16px;
    line-height:28px;
    margin-top:21px
  }
  article.schedule .wrap .buttons button{
    margin-top:20px
  }
}
@media (max-width:940px){
  article.schedule .row{
    display:flex;
    width:100%;
    margin-bottom: 20px;
  }
  article.schedule .column{
    float:left
  }
  article.schedule .left{
    width:40%
  }
  article.schedule .right{
    width:60%
  }
  article.schedule .wrap .rectangle-left{
    margin:0px;
    width:97%;
    height:100%;
    background:#fff;
    padding:.75rem;
    padding-bottom:0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:left;
    -ms-flex-align:left;
    align-items:left;
    padding-top:9px;
    border:1px solid #DFE5EE;
    border-radius:3px;
    box-shadow:0 0 10px 1px #DFE5EE;
    text-decoration:none;
    overflow:hidden;
  }
  article.schedule .wrap .rectangle-right{
    float:right;
    margin:0px;
    width:97%;
    height:100%;
    background:#fff;
    padding:.75rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:left;
    -ms-flex-align:left;
    align-items:left;
    padding-top:9px;
    border:1px solid #DFE5EE;
    border-radius:3px;
    box-shadow:0 0 10px 1px #DFE5EE;
    text-decoration:none;
    overflow:hidden
  }
  article.schedule .wrap .rectangle-right ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
  }
  article.schedule .wrap .rectangle-right li{
    height:100%;
  }
  article.schedule .wrap .rectangle-right img{
    width:64px;
    height:64px;
    float:none;
    border:1px solid #e3e6e9;
    margin-right:12px;
  }
  article.schedule .wrap .rectangle-left h2{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:20px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:0px;
  }
  article.schedule .wrap .rectangle-left p{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:16px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
  article.schedule .wrap .rectangle-right h2{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:20px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
  article.schedule .wrap .rectangle-right p{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:16px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
}
@media (max-width:767px){
  article.schedule .row{
    display:inline;
    width:100%;
    margin-bottom: 20px;
  }
  article.schedule .column{
    float:none
  }
  article.schedule .left{
    width:100%
  }
  article.schedule .right{
    width:100%
  }
  article.schedule .wrap .rectangle-left{
    margin:0px;
    width:100%;
    height:100%;
    background:#fff;
    padding:.75rem;
    padding-bottom:0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:left;
    -ms-flex-align:left;
    align-items:left;
    padding-top:9px;
    border:1px solid #DFE5EE;
    border-top-style:solid;
    border-right-style:solid;
    border-left-style:solid;
    border-bottom-style:none;
    border-radius:3px;
    box-shadow:none;
    /*box-shadow:0 0 10px 1px #DFE5EE;*/
    text-decoration:none;
    overflow:hidden;
  }
  article.schedule .wrap .rectangle-right{
    float:right;
    margin:0px;
    width:100%;
    height:100%;
    background:#fff;
    padding:.75rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:left;
    -ms-flex-align:left;
    align-items:left;
    padding-top:9px;
    border:1px solid #DFE5EE;
    border-top-style:none;
    border-right-style:solid;
    border-left-style:solid;
    border-bottom-style:solid;
    border-radius:3px;
    box-shadow:none;
    /*box-shadow:0 0 10px 1px #DFE5EE;*/
    text-decoration:none;
    overflow:hidden
  }
  article.schedule .wrap .rectangle-right ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
  }
  article.schedule .wrap .rectangle-right li{
    height:100%;
  }
  article.schedule .wrap .rectangle-right img{
    display:none;
  }
  article.schedule .wrap .rectangle-left h2{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:18px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:0px;
  }
  article.schedule .wrap .rectangle-left p{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:14px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
  article.schedule .wrap .rectangle-right h2{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:18px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
  article.schedule .wrap .rectangle-right p{
    font-family:Roboto-Light,SansSerif;
    text-align:left;
    font-size:14px;
    color:#48505d;
    width:260px;
    margin-top:0px;
    margin-bottom:4px;
  }
}
@media (max-width:1200px){
  article.schedule .wrap{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }
}
@media (max-width:767px){
  article.schedule .wrap{
    margin-top:40px
  }
  article.schedule .wrap .card{
    width:165px;
    height:145px
  }
  article.schedule .wrap .rectangle{
    margin-bottom:10px
  }
}
article.a-modular-network-stack .img1{
  position:absolute;
  top:1000px;
  right:75px
}
article.a-modular-network-stack .img2{
  position:absolute;
  bottom:241px;
  left:134px
}
article.schedule .img3{
  position:absolute;
  top:160px;
  right:125px
}
article.schedule .img4{
  position:absolute;
  bottom:341px;
  left:54px
}


article.features{
  background:#f3f6f9;
  padding-bottom:180px
}
@media (max-width:767px){
  article.features{
      padding-bottom:88px
  }
}
article.features .wrap{
  margin-top:55px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%
}
article.features .wrap .card{
  margin-bottom:10px;
  width:310px;
  height:270px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.features .wrap .rectangle{
  margin:auto;
  width:300px;
  height:260px;
  background:#fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding-top:9px;
  border:1px solid #DFE5EE;
  border-radius:3px;
  box-shadow:0 0 10px 1px #DFE5EE;
  text-decoration:none;
  overflow:hidden
}
article.features .wrap .rectangle div{
  font-family:Roboto-Light,SansSerif;
  color:#48505D;
  font-size:30px;
  text-align:center;
  line-height:35px;
  margin-top:10px;
  width:245px;
  height:70px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.features .wrap .rectangle img{
  transition:all .3s
}
article.features .wrap .rectangle p{
  opacity:0;
  height:0;
  margin:0;
  text-align:center;
  font-size:17px;
  color:#A8ACB2;
  width:260px;
  letter-spacing:-.6px;
  line-height:26px;
  transition:all .3s
}
article.features .wrap .rectangle:hover{
  width:310px;
  height:270px;
  padding-top:16px
}
article.features .wrap .rectangle:hover img{
  opacity:0;
  width:0;
  height:0
}
article.features .wrap .rectangle:hover p{
  opacity:1;
  height:auto;
  margin:2px 0 17px 0
}
@media (max-width:767px){
  article.features .wrap .rectangle{
    width:160px;
    height:140px
  }
  article.features .wrap .rectangle:hover{
    width:165px;
    height:145px
  }
  article.features .wrap .rectangle img{
    width:92px;
    height:auto
  }
  article.features .wrap .rectangle div{
    width:150px;
    height:40px;
    font-size:16px;
    line-height:18px
  }
  article.features .wrap .rectangle p{
    font-size:8px;
    width:150px;
    line-height:16px
  }
}
@media (max-width:1200px){
  article.features .wrap{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }
}
@media (max-width:767px){
  article.features .wrap{
    margin-top:40px
  }
  article.features .wrap .card{
    width:165px;
    height:145px
  }
  article.features .wrap .rectangle{
    margin-bottom:10px
  }
}
article.a-modular-network-stack .img1{
  position:absolute;
  top:1000px;
  right:75px
}
article.a-modular-network-stack .img2{
  position:absolute;
  bottom:241px;
  left:134px
}
article.features .img3{
  position:absolute;
  top:160px;
  right:125px
}
article.features .img4{
  position:absolute;
  bottom:341px;
  left:54px
}
article.example{
  padding-bottom:97px
}
article.example .wrap{
  margin-top:58px
}
article.example .wrap img{
  width:100%;
  height:auto
}
article.example img.img3{
  position:absolute;
  top:20px;
  right:74px
}
@media (max-width:767px){
  article.example{
    padding-top:60px
  }
}
article.implementations-in{
  background:#fff;
  padding-bottom:177px
}
article.implementations-in header h2{
  letter-spacing:-.5px
}
article.implementations-in .wrap{
  margin-top:68px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  width:100%
}
article.implementations-in .wrap .card{
  position:relative;
  width:310px;
  height:230px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:10px
}
article.implementations-in .wrap .card .rectangle{
  width:300px;
  height:220px;
  background:#fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding-top:0;
  border:1px solid #DFE5EE;
  border-radius:3px;
  margin-bottom:20px;
  box-shadow:0 0 10px 1px #DFE5EE;
  transition:all .3s linear;
  text-decoration:none
}
article.implementations-in .wrap .card .rectangle .img-wrap{
  position:absolute;
  top:55px;
  left:0;
  margin:0;
  width:100%;
  height:100px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.implementations-in .wrap .card .rectangle .img-wrap img{
  width:100%;
  height:100%;
  -o-object-fit:contain;
  object-fit:contain;
  -o-object-position:50% 50%;
  object-position:50% 50%
}
article.implementations-in .wrap .card .rectangle:hover{
  width:310px;
  height:230px
}
article.implementations-in .wrap .card .rectangle.coming-soon,article.implementations-in .wrap .card .rectangle.empty{
  width:300px;
  height:220px;
  cursor:default
}
article.implementations-in .wrap .card .rectangle div{
  font-family:Roboto-Light,SansSerif;
  color:#48505D;
  font-size:14px;
  text-align:center;
  line-height:35px;
  margin-top:10px;
  width:245px;
  height:55px;
  display:none;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.implementations-in .wrap .card .rectangle.index1 div{
  margin-top:29px
}
article.implementations-in .wrap .card .rectangle.index2 div{
  margin-top:3px
}
article.implementations-in .wrap .card .rectangle.index3 div{
  margin-top:43px;
  width:100%
}
article.implementations-in .wrap .card .rectangle.in-dev{
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
article.implementations-in .wrap .card .rectangle.in-dev div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  color:#000;
  font-family:Roboto-Bold;
  width:100%
}
article.implementations-in .wrap .card .rectangle.coming-soon{
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
article.implementations-in .wrap .card .rectangle.coming-soon *{
  opacity:.3
}
article.implementations-in .wrap .card .rectangle.coming-soon div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  color:#000;
  font-family:Roboto-Bold;
  width:100%
}
article.implementations-in .wrap .card .rectangle.empty{
  background:0 0;
  border:none;
  box-shadow:none
}
@media (max-width:1200px){
  article.implementations-in .wrap .card.empty{
    display:none
  }
}
@media (max-width:767px){
  article.implementations-in{
    padding-top:58px;
    padding-bottom:85px
  }
  article.implementations-in .wrap{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
  }
  article.implementations-in .wrap .card{
    width:165px;
    height:125px
  }
  article.implementations-in .wrap .card .rectangle{
    width:160px;
    height:120px
  }
  article.implementations-in .wrap .card .rectangle .img-wrap{
    top:0
  }
  article.implementations-in .wrap .card .rectangle img{
    -webkit-transform:scale(.55);
    transform:scale(.55)
  }
  article.implementations-in .wrap .card .rectangle.index3 img{
    position:relative;
    top:20px
  }
  article.implementations-in .wrap .card .rectangle:hover{
    width:165px;
    height:125px
  }
  article.implementations-in .wrap .card .rectangle.coming-soon,article.implementations-in .wrap .card .rectangle.empty{
    width:160px;
    height:120px;
    cursor:default
  }
  article.implementations-in .wrap .card .rectangle.coming-soon{
    padding-bottom:8px
  }
  article.implementations-in .wrap .card .rectangle div{
    font-size:8px
  }
  article.implementations-in .wrap .card .rectangle.index1 div{
    margin-top:2px
  }
  article.implementations-in .wrap .card .rectangle.index2 div{
    margin-top:0
  }
}
article.publications-talks{
  background:#f3f6f9;
  padding-bottom:100px
}
article.publications-talks .wrap{
  margin-top:60px;
  margin-bottom:56px
}
article.publications-talks .wrap iframe{
  display:block;
  margin:0 auto;
  max-width:620px;
  min-width:300px;
  width:620px;
  max-height:350px;
  min-height:200px;
  height:350px;
  border-radius:5px;
  border:0
}
@media (max-width:767px){
  article.publications-talks .wrap iframe{
    width:300px;
    height:200px
  }
}
article.publications-talks .btn-more-videos{
  margin:0 auto
}
article.publications-talks .img6{
  position:absolute;
  top:160px;
  left:115px
}
article.publications-talks .img7{
  position:absolute;
  bottom:-120px;
  right:15px
}
@media (max-width:767px){
  article.publications-talks{
    padding-top:62px;
    padding-bottom:60px
  }
  article.publications-talks .wrap{
    margin-top:60px;
    margin-bottom:40px;
    padding:0
  }
}
article.community{
  padding-bottom:0
}
article.community .wrap{
  margin-top:50px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.community .wrap p{
  font-size:17px;
  line-height:26px;
  text-align:center;
  letter-spacing:-.5px;
  font-family:Roboto-Light,SansSerif;
  color:#555C68
}
article.community .wrap h6{
  font-size:30px;
  font-weight:100;
  margin-top:43px;
  margin-bottom:19px;
  font-family:Roboto-Light,SansSerif;
  color:#555C68
}
article.community .wrap .buttons{
  width:100%;
  max-width:650px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
article.community .wrap .buttons button{
  margin-top:20px
}
@media (max-width:767px){
  article.community .wrap .buttons{
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}
@media (max-width:376px){
  article.features .wrap{
    margin-top:37px;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
  }
  article.features .wrap .card{
    margin-bottom:5px
  }
  article.features .wrap .rectangle div{
    margin-top:4px
  }
  article.implementations-in{
    padding-top:66px
  }
  article.implementations-in .wrap{
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
  }
  article.implementations-in .wrap .card{
    margin-bottom:4px
  }
  article.implementations-in .wrap .card .rectangle.coming-soon img{
    max-height:50px;
    max-width:100%;
    width:auto;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index2 img{
    max-height:75px;
    height:75px
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index3 img{
    max-height:34px;
    height:34px
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index4 img{
    max-height:65px
  }
  article.implementations-in .wrap .card .rectangle.coming-soon div{
    height:30px;
    line-height:30px
  }
  article.publications-talks{
    padding-top:56px
  }
  footer .wrap .copyright{
    line-height:24px
  }
}
@media (max-width:357px){
  article.features .wrap,article.implementations-in .wrap{
    -ms-flex-pack:distribute;
    justify-content:space-around
  }
}

