<header>
  <div class="wrap">
    <a class="logo" href="/ethdenver-2024/">
      <img width="60" height="72" src="/img/logo_small.png" alt="">
      <b>lib</b>p2p Day
    </a>
    <a href='#' class='bars'><i class="fa fa-bars" aria-hidden="true"></i></a>
    <a href='#' class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <nav>
      <ul>
        <li><a href="/ethdenver-2024/#schedule"><i class="fa fa-calendar-days"></i>Schedule</a></li>
        <li><a href="/ethdenver-2024/#faq"><i class="fa fa-circle-question"></i>FAQ</a></li>
        <li><a href="https://lu.ma/libp2pday-denver" target="_blank"><i class="fa fa-id-card"></i>Register to Attend</a></li>
      </ul>
    </nav>
  </div>
</header>
