<!DOCTYPE html>
<html lang="en">
<head>
<!-- include "head.html" -->
{% include "head.html" -%}
<!-- include "head.html" -->
<link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/ethdenver.css">
<title>libp2p Day - ETHDenver 2024</title>
<meta name="google-site-verification" content="NOJDGy-FaS-jVnj08WfJcjpm3r8uDmoacV_D1C9oddc" />
</head>
<body>
<!-- include "topbar.html" -->
{% include "ethdenver-topbar.html" -%}
<!-- include "topbar.html" -->
<main>
<!-- include "ethdenver-description.html" -->
{% include "ethdenver-description.html" -%}
<!-- include "ethdenver-description.html" -->
<!-- include "ethdenver-schedule.html" -->
{% include "ethdenver-schedule.html" -%}
<!-- include "ethdenver-schedule.html" -->
</main>
<!-- include "footer.html" -->
{% include "ethdenver-footer.html" -%}
<!-- include "footer.html" -->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
