<article class="center features">
  <h1>Features</h1>
  <div class="wrap">
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_1.png" alt="">
              <div>Use Several Transports</div>
              <p>Use newer and faster transports like QUIC and WebRTC. At the same time, we support well-established transports like TCP,
                 and support multiple hosts and connectivity conditions.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_2.png" alt="">
              <div>Native Roaming</div>
              <p>You get Native Roaming out of the box. Your app or service can be migrated between machines or move between networks without any configuration steps.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_3.png" alt="">
              <div>Runtime Freedom</div>
              <p>Simply assume connectivity, independent of the platform you are running your software on.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="192" height="130" src="/img/img_4.png" alt="">
              <div>Protocol Muxing</div>
              <p>Reuse already established and secure connections with in-band protocol multiplexing.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_5.png" alt="">
              <div>Work Offline</div>
              <p>libp2p is capable of discovering other peers without resourcing to centralized registries,
                 enabling apps to work disconnected from the backbone.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_6.png" alt="">
              <div>Encrypted Connections</div>
              <p>Ensure that no one can eavesdrop on user traffic by setting a crypto channel by default,
                 protecting both bits and validating peer identities.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="189" height="130" src="/img/img_7.png" alt="">
              <div>Upgrade Without Compromises</div>
              <p>Don't let past decisions hold your application back. Wire protocol versioning allows you to
                 upgrade your service while still supporting older versions, no complicated setup necessary.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="183" height="130" src="/img/img_8.png" alt="">
              <div>Work In The Browser</div>
              <p>Write your application to run in the browser and take advantage of the ultimate in cross platform environments and with zero user install.</p>
          </a>
      </div>
      <div class="card">
          <a class="rectangle">
              <img width="184" height="130" src="/img/img_9.png" alt="">
              <div>Good For High Latency Scenarios</div>
              <p>Not all connections are equal. Make sure your app is using the best transport for its environment.</p>
          </a>
      </div>
  </div>
  <img class="decoration img3" width="61" height="61" src="/img/img3.png" alt="">
  <img class="decoration img4" width="82" height="60" src="/img/img4.png" alt="">
  <div class="triangle grey"></div>
</article>
