<article class="center security">
  <h1>Security</h1>
  <div class="wrap" style="padding-bottom:30px;">
    <p><b>lib</b>p2p is still under active development and there may be
    problems with our protocols or errors in our implementations. We take
    security vulnerabilities very seriously and follow responsible disclosure
    best practices. If you discover a security issue, please bring it to our
    attention right away!</p>
  </div>
  <h2>Reporting a Security Vulnerability</h2>
  <div class="wrap" style="padding-bottom:30px;">
      <p>If you find a vulnerability that may affect live deployments—such as a
      remote execution exploit—please <a href="https://github.com/libp2p/go-libp2p/security/advisories/new">report it privately</a>.
      <b>DO NOT</b> file a public issue. If you are unsure about a particular
      issue, please reach out to <a href="mailto:security@libp2p.io">security@libp2p.io</a></p>

      <p>If the issue is an implementation weakness that cannot be immediately
      exploited or is not yet deployed, plese file a public Github issue to get
      it resolved.</p>
  </div>
  <img class="decoration img5" width="43" height="47" src="/img/img5.png" alt="">
  <img class="decoration img6" width="42" height="74" src="/img/img6.png" alt="">
  <div class="triangle white"></div>
</article>
